$background_color: #e5e5e5ff;
$button_color: #14b88cff;

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

body {
  background: $background_color;

  button,
  input[type="submit"] {
    border: 2px solid $button_color;
    cursor: pointer;
    transition-duration: 0.5s;

    &:hover {
      background: $button_color;
      color: white;
    }
  }
}
