@import url(//fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap);

* {
  list-style-type: none;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 600;
  color: black;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .main {
    flex-grow: 1;
  }

  a {
    text-decoration: none;
  }
}

.list {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;

  & > li {
    cursor: pointer;
    filter: grayscale(100%);
  }
}

.basket {
  position: relative;

  & > small {
    position: absolute;
    top: -10%;
    left: 60%;
  }
}

// Active links
.active {
  filter: grayscale(0%) !important;
}

.footer {
  display: flex;
  justify-content: space-between;
}
